
/* Template Metropolitan */

* {
	outline:none !important;
}
body::-webkit-scrollbar { 
    display: none; 
}
body {
	font-family: 'Open Sans',sans-serif ;
	font-weight: 100;
}
h1, h2, h3, h4, h5, h6, p, i, li, dd {
	cursor:default;
}
a * {
	cursor: pointer !important;
}
a.btn {
	color: #fff !important;
}
h1, h2 {
	font-family: 'Open Sans',sans-serif ;
	font-weight:800 !important;
}
div.page-header {
	text-align: center;
}
div.page-header a {
	color: #fff !important;
}
div.page-header h1, div.page-header i {
    font-size: 40px;
    font-weight: 800 !important;
    line-height: 57px;
}
.page-header a > i {
    font-size: 40px;
}
.blog h1 {
	color: rgba(0,0,0,.5);
}
p {
	line-height:1.7em !important;
}
hr {
	border:none;
}
.navbar {
	border:none !important;
}
.navbar-inverse {
	box-shadow: 0 0 8px rgba(0,0,0,.2);
	min-height: 70px !important;
}
a.navbar-brand {
	padding-left: 65px;
	margin-left: 0!important;
	line-height: 36px;
	font-size: 20px;
	font-weight: 700;
}
a.navbar-brand img.img-circle {
	width: 50px;
	height:50px;
	position: absolute;
	z-index: 99;
	zoom:1;
	filter: alpha(opacity=85);
	opacity: 0.85;
}
.navbar ul.nav {
	float: right;
}
.navbar ul.nav > li {
	float: left;
}
.navbar ul.nav > li > a {
	padding-top: 25px; 
	padding-bottom: 25px; 
	font-weight: 700;
	color: rgba(255,255,255,.6);
}
.navbar ul.nav > li > a:hover {
	background: none;
	color: rgba(255,255,255,1);
}
.navbar ul.nav > li.active > a {
	background-color: #2b2b2b !important;
}
.navbar-toggle {
	margin-top: 17px !important;
}
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}

span.logo {
	height: 50px;
	width: 50px;
	display: block;
	border-radius: 500px;
	transition: background .4s ease-in-out;
	background-size: 50px 50px;
}
.navbar-header {
	position: relative;
}
.navbar span.logo {
	position: absolute;
	top: 10px;
	left: 10px;
}
a.navbar-brand:after {
	content: "Metropolitan";
}
#ltop {
	position: absolute;
	top: -25px;
}
.fa {
	-webkit-font-smoothing: none !important;
}
.well {
	box-shadow: none;
	border: none;
	background: rgba(0,0,0,.1); 
}
.well p {
	padding: 0;
	margin: 0;
	line-height: 1.5em;
}
#system-message  .alert {
	margin-top: 150px
}
.page-header {
	border:none;
	margin-bottom:20px;
}
a.carousel-control {
	background-image: none !important;
}
.container > div.item-wrapper, .onepage .container.item-wrap {
	padding:30px 30px;
}
.content.container, .onepage .panel-sublayer {
	padding-top: 150px;
}
div.blog div.items-row div.span12 div.item div.col-md-8 {
	padding-top:40px;
}
div.blog div.item-image {
	text-align:center;
}
div.blog div.item-image-none {
	margin-bottom:40px;
	margin-top: 20px;
}
div.blog div.item-image img.img-responsive {
	display:inline !important;
}
.blog h2 {
	color:#678B9C;
	font-size:3em !important;
}
.page-header h2 {
	font-size:3.3em !important;
}
.onepage h1, .onepage h2,
.onepage div.no-intro-img p,
.onepage div.no-intro-img h3   {
	text-align:center;
}
div.no-intro-img p,
div.no-intro-img h3   {
}
.onepage div.left-intro-img  {
	text-align: left;
}
.onepage div.right-intro-img {
	text-align: right;
}
.justify {
	text-align: justify;
}
div.op-columns > div {
	margin-bottom: 50px !important;
	text-align: center !important;
}
.blog .op-columns .item-image-none {
	text-align: center; !important;
	display: block;
}
.blog .op-columns p {
	margin-left: 8%;
}
.blog .op-columns h3 {
	margin: 10px 0; 
}
.blog .op-columns .transparent-bg i {
	margin: 5px 10px;
}
.op-columns i.fa-stack-1x {
	color: #fff;
}
#headerCarousel {
	margin-top: 65px;
}
#headerCarousel a.carousel-control {
	top: -17%;
}
#headerCarousel h1 {
	font-size: 85px;
}
#headerCarousel .carousel-caption {
  z-index: 10;
  top: 25%;
}
#headerCarousel .item {
  background-color: #777;
}
#headerCarousel .carousel-inner > .item > img {
  top: 0;
  left: 0;
  min-height:301px;
  min-width: 100%;
}
#headerCarousel a.carousel-control {
  color: #fff !important;
  font-size: 3em;
}

/* icons */

.fa-stack i:hover, a .zoom-fx:hover {
	transform:scale(1.2);
    -ms-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -o-transform:scale(1.2);
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition:    all 0.3s ease-in-out;
    -o-transition:      all 0.3s ease-in-out;
    -ms-transition:     all 0.3s ease-in-out;
    transition:         all 0.3s ease-in-out;
    text-shadow:0 0 10px rgba(0,0,0,.5);
}

/* editor stuff */

.transparent-bg-dark {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    padding: 20px 20px;
    display: block;
    margin: 40px 5%;
}
.transparent-bg-light {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.04);
    padding: 20px 20px;
    display: block;
    margin: 40px 5%;
}
p.lead {
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    margin: 20px auto 70px;
}
small {
	color: rgba(255,255,255,.3) !important;
}

/* Panels */

#panel-1 .panel-sublayer, #panel-5 .panel-sublayer {
	background-attachment: fixed ;
}

#panel-0, #panel-4 {
}
#panel-1, #panel-5 {
}
#panel-2, #panel-6 {
}
#panel-3, #panel-7 {
}

.page-header h2 {
    color: #555 !important;
    margin: 5px 5%;
    padding: 13px;
}
.blog h3 {
	margin-bottom: 30px;
}
.blog  a.next-panel {
	content:"\f13a";
	font-family: FontAwesome;

	display: block;
	color: #fff;
	font-size: 45px;
	margin: 0 auto;
	text-align: center;
}
.item a.next-panel {
	position: relative;
	top: -10px;
}
.op_panel:last-child a.next-panel {
	display: none !important;
}
.blog .container > .item a:hover {
	text-decoration: none;
}
/* Photoalbum */

#albumCarousel {
	margin-bottom:50px;
}
#albumCarousel a > img {
	zoom: 1;
	filter: alpha(opacity=90);
	opacity: 0.90;
	Xtransition: opacity .1s ease-in-out;
}
#albumCarousel a:hover > img {
	filter: alpha(opacity=100);
	opacity: 1;
}
div.rokoho_album a.thumbnail {
	padding:0;
	border:0;
	margin-bottom: 0;
}
.rokoho_album div.album_description p {
	margin-bottom:90px;
}
#albumCarousel ol.carousel-indicators {
	top:-40px !important;
	z-index: 0;
}
#albumCarousel ol.carousel-indicators li {
	opacity: .3;
}
#albumCarousel ol.carousel-indicators:hover li {
	opacity: .8;
}
#albumCarousel ol.carousel-indicators .active {
	background:none;
}
#albumCarousel div {
	padding-left: 0;
	padding-right: 0;
}
#albumCarousel .img-responsive {
	margin: auto;
}
/* PrettyPhoto */
.pp_pic_holder.facebook {
	background: rgba(255,255,255,1);
	box-shadow:0 0 30px rgba(0,0,0,.1);
}
div.pp_overlay {
	background: rgba(0,0,0,.75)  !important;
	color: #eee !important;
}
.pp_description {
	color: #000 !important;
}
div.facebook  img#fullResImage {
	border-radius: 4px;
}
div.facebook .pp_content {
}
div.pp_content div.pp_fade a.pp_expand {
	opacity: .5;
}
div.ppt {
}
div.pp_content div.pp_fade a.pp_play {
}
.facebook .pp_nav {
	display: none !important;
}
/* Contact pane */

div.social i {
	color: rgba(255,255,255,.3);
}
div.social {
	margin-bottom:40px;
	margin-top: 15px;
}
#googleMap {
	height: 400px;
	width: 100%;
	margin-bottom: 15px;
	margin-top: 20px;
	border-radius: 5px;
}
div.contact-form input {
	color:#888;
	border:none;
	padding:8px;
}
div.contact-form textarea {
	resize:vertical !important;
	height:230px;
	color:#888;
	border:none;
	padding:8px;
}
div.contact-form span.help-block {
	float:right;
	font-size:90%;
}
div.contact-avatar img {
	height: 60px;
	width: 60px;
}
address {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    display: block;
    font-style: normal;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 0 25px 25px;
    position: absolute;
    z-index:10;
	color:#333;
	min-width: 300px;
}
address span.logo {
	height: 60px;
	width: 60px;
}
.address-card-bigmap address {
    right: 40px;
    top:  inherit !important;
	bottom:40px;
}
.address-card-smallmap address {
    right: 45px;
    bottom: 55px;
}
a.btn, button.btn {
    border: medium none !important;
    box-shadow: 0 -4px 0 rgba(0, 0, 0, 0.2) inset !important;
    padding: 5px 10px 10px !important;
}
a.btn:active, button.btn:active {
    border: medium none !important;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2) inset !important;
    padding: 10px 10px 5px !important;
}

/* Contact v1 */
.contact-address-card {
	text-align: center;
	margin: 50px 0;
}
.contact-address-card .card-address {
	text-align: right !important;
}
.contact-address-card .card-telephone {
	text-align: left !important;
}
.contact-address-card .card-address , .contact-address-card .card-telephone {
	width: 50%;
	float: left;
	padding: 15px;
	margin-top: 20px;

}

.tooltip-inner  {
	background: rgba(0,0,0,0.3);
	padding: 10px 15px !important;
}
.tooltip-arrow {
	display: none;
}
.featurette-divider {
  margin: 0; 
}
footer {
	padding: 20px 0 10px; 
}
/* Sample Content */
div#examples-slides a.carousel-control {
	width: inherit;
	font-size: 50px;
	color: rgba(0,0,0,.5);
	text-shadow: none;
	top: 50px;
}
div#examples-slides a.carousel-control.left {
	left: -3%;
}
div#examples-slides a.carousel-control.right {
	right: -3%;
}
.hero-feature img {
	zoom: 1;
	filter: alpha(opacity=30);
	opacity: 0.3;
}
/* Thumnails */
.thumbnail {
    border-radius: 4px;
    padding: 12px;
    border: none;
    border-radius: 2px;
}
div#examples-slides ul.nav {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
/* panels & tables */

.panel-primary > .panel-heading {
    background-color: rgba(0,0,0,.3) !important;
    border: none !important;
}
.panel-primary {
	border: none !important; 
}
/* Tables */
.table > thead > tr > .active, .table > tbody > tr > .active, .table > tfoot > tr > .active, .table > thead > .active > td, .table > tbody > .active > td, .table > tfoot > .active > td, .table > thead > .active > th, .table > tbody > .active > th, .table > tfoot > .active > th,
.table-hover > tbody > tr > .active:hover, .table-hover > tbody > .active:hover > td, .table-hover > tbody > .active:hover > th, .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th  {
    background-color: rgba(0,0,0,.05) !important;
}
.table td, .table th {
	border-color: rgba(255,255,255,.1) !important;
}
@media(max-width:1200px){
	div.contactpane address {
	    right: 92px !important;
	}
#headerCarousel h1 {
	font-size: 70px;
}
}
@media(max-width:992px){
	div.contactpane address {
	    right: 50px !important;
		top:inherit;
		bottom:80px;
	}
	.navbar {
		padding-left:0 !important;
	}
	#headerCarousel h1 {
		font-size: 55px;
	}
}
@media(max-width:768px){
	#headerCarousel h1 {
		font-size: 30px;
	}
	ul.nav li {
		display:inline-block !important;
	}
	.navbar ul.nav {
		text-align: center;
		float: none !important;
	}
	div#examples-slides a.carousel-control.left {
		left: -8%;
	}
	div#examples-slides a.carousel-control.right {
		right: -8%;
	}
	.navbar-wrapper {
		margin-top: 20px;
	}
	.navbar-wrapper .container {
		padding-left:  15px;
		padding-right: 15px;
	}
	#headerCarousel .carousel-caption p {
		margin-bottom: 20px;
		font-size: 21px;
		line-height: 1.4;
	}
}
@media(max-width:480px){
	#headerCarousel h1 {
		font-size: 20px;
		margin-bottom: 20px;
	}
	#headerCarousel .carousel-caption h1 + p {
		display: none;
	}
	#albumCarousel .carousel-inner > .item {
		margin-top:50px;
	}
	.navbar {
		left:0;
		right:0;
		top:0;
	}
	.navbar ul li a {
		padding:7px 4px;
		font-size:85% !important;
	}
	a.navbar-brand img.img-circle {
		width:50px;
		height:50px;
		top:5px;
	}
	a.navbar-brand {
	}
	div.blog div.items-row > div.item {
		padding:0;
	}
	div.contactpane address {
	    right: 0px !important;
		top:inherit;
		left:0 !important;
	    background: none;
	    border: none;
	    box-shadow: none;
	    display: block;
	    font-style: normal;
	    line-height: 1.42857;
	    bottom: 0;
	    padding: 0 25px 25px;
	    position: relative;
		color:#fff;
		min-width: 300px;
	}
}
@media(max-width:300px){
	a.navbar-brand {
		font-size:10px;
	}
}
