body {
	color:#111 !important;
	background: #fff;
}
a:link, a:visited {
	color: #9A4D5A;
}
a:hover {
	text-decoration: none;
}
div.panel-0-sublayer {
	background: url("../../images/shade-bot.png") no-repeat scroll center 12px ;
}
div.blog a.next-panel {
	color: #658383;
}
.page-header a > i {
	color: #9BB2B2;
}
.navbar-inverse ul.nav > li.active > a, .navbar-inverse .nav > li.active > a:hover, .navbar-inverse .nav > li > .active > a:focus {
    background-color: rgba(255,255,255,.15) !important;
    color: #FFFFFF !important;
}
.navbar-inverse {
    background-color: #4D809A;
    border-color: #4D809A;
}
.navbar-inverse .nav > li > a:link, .nav > li > a:visited, .navbar-inverse a.navbar-brand {
    color: #D5DEDE !important;
}
.navbar-inverse .nav > li > a:hover, .navbar-inverse a.navbar-brand:hover {
	color: #fff !important;
}
a.navbar-brand:after {
	content: "Gazette" !important;
}
span.logo {
	background: url('/budget/images/png50x50/wave.png') no-repeat center center #7F9A4D;
	background-size: 50px 50px;
}
#panel-0, #panel-4 {
	background: url("../../images/shade-bot.png") no-repeat scroll center bottom rgba(255, 255, 255, 1);
}
#panel-1, #panel-5 {
	background: url("../../images/shade-bot.png") no-repeat scroll center bottom rgba(255, 255, 255, 1);
}
#panel-2, #panel-6 {
	background-color:#fff;
}
#panel-3, #panel-7 {
	background-color:#89B0C4;
}
.transparent-bg-dark {
    background: none repeat scroll 0 0 rgba(107, 69, 42, .1);
}
.transparent-bg-light {
    background: none repeat scroll 0 0 rgba(36, 36, 36, .03);
}
.table td, .table th {
	border-color: rgba(0,0,0,.1) !important;
}
footer {
	background: #384349;
}
footer a > i {
	color: rgba(255,255,255,.75) ;
}

