body {
	color:#111 !important;
	background: #D1A968;
}
a:link, a:visited {
	color: #9A4D5A;
}
a:hover {
	text-decoration: none;
}
.page-header h1, div.blog a.next-panel {
	color: #fff;
}
.page-header h1 + a > i {
	color: rgba(255,255,255,.15);
	transition: color .5s ease-in-out;
}
.page-header h1 + a:hover > i {
	color: rgba(255,255,255,.35);
}
.page-header h2 {
    color: #555 !important;
}
#panel-3 .page-header h2 , #panel-2 .page-header h2  {
    color: #fff !important;
}
.text-warning {
	color: #904E88 !important;
}
.text-danger {
	color: #4E9055 !important;
}
.text-info {
	color: #4E6790 !important;
}
.panel-0-sublayer {
}
.navbar-inverse ul.nav > li.active > a, .navbar-inverse .nav > li.active > a:hover, .navbar-inverse .nav > li > .active > a:focus {
    background-color: rgba(255,255,255,.15) !important;
    color: #FFFFFF !important;
}
.navbar-inverse {
    background-color: #29384E;
    border-color: #29384E;
}
.navbar-inverse .nav > li > a:link, .nav > li > a:visited, .navbar-inverse a.navbar-brand {
    color: #D5DEDE !important;
}
.navbar-inverse .nav > li > a:hover, .navbar-inverse a.navbar-brand:hover {
	color: #fff !important;
}
a.navbar-brand:after {
	content: "Evening Edition" !important;
}
span.logo {
	background: url('/budget/images/png50x50/star-yellow.png') no-repeat center center #4C6890;
	background-size: 50px 50px;
}
#panel-0, #panel-4 {
	background: url("/budget/images/patterns/pattern_2.png") fixed repeat center center #FDC368;
	color: #493B24;
}
#panel-1, #panel-5 {
	background: #fff;
}
#panel-2, #panel-6 {
	background: url("/budget/images/patterns/pattern_13.png") fixed repeat center center #91754A;
}
#panel-3, #panel-7 {
	background-color:#4E2C28;
	color: #fff;
}
.transparent-bg-dark {
    background: none repeat scroll 0 0 rgba(107, 69, 42, .1);
}
.transparent-bg-light {
    background: none repeat scroll 0 0 rgba(36, 36, 36, .03);
}
.table td, .table th {
	border-color: rgba(0,0,0,.1) !important;
}
footer {
	background: #384349;
}
footer a > i {
	color: rgba(255,255,255,.75) ;
}

